.App {
  max-width: 800px;
  margin: 0 auto;
  color: #a77ef1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  color: rgb(70, 68, 68);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

a {
  text-decoration: none;
}

.App .reactLogo {
  width: 200px;
}

.App .logo-bg {
  background-color: #fefdff;
}
